@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$color-primary: rgb(124 58 237);
$font-01: 'JetBrains Mono', Verdana, Geneva, Tahoma, sans-serif;

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: $font-01;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 16px;

    div {
        display: flex;
        align-items: center;
        gap: 12px;

        ul {
            display: flex;
            gap: 8px;

            li {
                list-style: none;
            }
        }
    }

    button {
        background-color: $color-primary;
        color: white;
        font-size: 1.2em;
    }
}

button {
    border-radius: 9999px;
    border: none;
    padding: 0.25rem 0.8rem;
}

@media screen and (max-width:768px) {
    nav, #contact-nav-btn {
        display: none;
    }

    #menuToggle {
        display: block;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    #menuToggle {
        display: none;
    }
}

@media screen and (min-width:992px) {
    #menuToggle {
        display: none;
    }
}

#checkbox {
    display: none;

    &:checked + .toggle #bar--top {
        bottom: calc(50% - 11px - 4px);
        margin-bottom: calc(11px + 4px/ 2);
        transform: rotate(45deg);
        transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }

    &:checked + .toggle #bar--middle {
        top: calc(50% + 11px);
        opacity: 0;
        transition-duration: 0.35s,0s;
        transition-delay: 0s,calc(0s + 0.35s);
    }

    &:checked + .toggle #bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(-45deg);
        transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);

    div {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: calc(4px / 2);
        background: #7b52b9;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
    }
}

#bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,margin,transform;
    transition-delay: calc(0s + 0.35s),0s,0s;
}

#bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: top,opacity;
    transition-duration: 0.35s,0s;
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}

#bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
}

/*#checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 11px - 4px);
    margin-bottom: calc(11px + 4px/ 2);
    transform: rotate(45deg);
    transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}

#checkbox:checked + .toggle .bar--middle {
    top: calc(50% + 11px);
    opacity: 0;
    transition-duration: 0.35s,0s;
    transition-delay: 0s,calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-45deg);
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}*/