@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$color-primary: rgb(124 58 237);
$bg-01: #f3f3f3;
$font-01: 'JetBrains Mono', Verdana, Geneva, Tahoma, sans-serif;

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: $font-01;
    background-color: $bg-01;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 16px;

    nav {
        position: absolute;
        background-color: $color-primary;
        right: 16px;
        top: 70px;
        border-radius: 8px;
        padding: 8px;

        ul {
            display: flex;
            flex-direction: column;
            padding: 8px 16px;
            gap: 16px;

            a {
                text-decoration: none;
            }
            li {
                list-style: none;
                color: white;
            }
        }
    }
}

button {
    border-radius: 9999px;
    border: none;
    padding: 0.5rem 1rem;
}

@media screen and (max-width:768px) {
}

@media screen and (min-width:768px) and (max-width:992px) {

}

@media screen and (min-width:992px) {
    #menuToggle {
        display: flex;
        background-color: $color-primary;
        font-size: 1em;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding: 0.3em 0.3em 0.3em 0.5em;

        div {
            background-color: white;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin-left: 8px;
        }
    }
}

button, a { cursor: pointer; }

.showNav {

}

.hideNav {

}

#checkbox {
    display: none;
}

.toggle {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.bar {
    position: absolute;
    height: 4px;
    width: 70%;
    border-radius: calc(4px / 2);
    background: $color-primary;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}


.bar--top {
    bottom: calc(50% + 6px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s) * .6;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity,transform;
    transition-delay: calc(0s + 0.35s * .3);
}

.bar--bottom {
    top: calc(50% + 6px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
  }